@font-face {
  font-family: 'Rosie Brown';
  src: url('../../assets/RosieBrown.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.empresa {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    background-repeat: no-repeat;
    background-image: url(../../../imgs/Empresa/FondoEmpresa.png);
    background-position: center;
    background-size: cover;

    user-select: none;
}

/* Capa superpuesta para blur y opacidad */
.empresa::before {
    content: "";
    position: absolute;
    inset: 0;

    background: inherit; /* usa la misma imagen de fondo */
    background-position: center;
    background-size: cover;

    filter: blur(6px) brightness(1.2); /* blur + un poco menos de brillo */
    opacity: 0.7; /* controla la transparencia */
    z-index: 0;
}

/* Asegura que el contenido quede por encima */
.empresa > * {
    position: relative;
    z-index: 1;
}

.nombreEmpresa {
    user-select: none;

    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nombreEmpresa img {
    margin: 5vh;
    max-height: 25vh;

    max-width: 90vw;

    filter: drop-shadow(0px 0px 5px black);
}

.separadorBlanco {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.integrantesEmpresa h2 {
    width: 100%;
    height: auto;

    font-size: 7.5vh;
    line-height: 7.5vh;
    margin-top: 2.5vh;

    font-family: 'Rosie Brown';

    filter: drop-shadow(0px 0px 10px white) drop-shadow(0px 0px 5px white);
    color: black;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.integrantesEmpresa h2 img {
    height: 10vh;
    margin: 0 2.5vh 1vh;
}

.invertidoHorizontal {
    transform: scaleX(-1);
}

.lineaBlanca {
    width: 50vw;

    border: 2px solid white;
}

.ownersEmpresa {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedorOwnersEmpresa {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2.5vh 5vh;

    margin: 5vh 0;

    background-color: rgba(255, 255, 255, 0.746);
    border-radius: 2.5vh;
}

.owner {
    user-select: none;

    margin: 2.5vh;
}

.owner a {
    color: black;
    text-decoration: none;

    font-size: 2em;
    font-weight: bold;
}

.owner img {
    width: 40vh;
    max-width: 40vw;
    height: 40vh;
    max-height: 40vw;
    

    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px black);

    transition: 0.3s ease;
}

.owner img:hover {
    transform: scale(1.01);
}

.owner span {
    width: 100%;
    height: auto;

    margin-top: 2vh;

    filter: drop-shadow(0px 0px 5px white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.owner span a {
    transition: 0.2s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.owner span a:hover {
    transform: scale(1.01) translateY(-2px);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.442));
}

.empleadosEmpresa {
    width: 100%;
    height: auto;

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    align-items: center;
    justify-content: left;
}

.empleado {
    user-select: none;

    width: 30vh;
    max-width: 20vw;
    height: 100%;
    max-height: 15vw;

    margin: 5vh 2.5vh;
    background-color: rgba(255, 255, 255, 0.746);
    border-radius: 2.5vh;

    transition: 0.3s ease;
}

.empleado:hover {
    transform: scale(1.025);
}

.empleado img {
    width: 15vh;
    height: 15vh;

    border-radius: 50%;

    filter: drop-shadow(0px 0px 10px white);

    margin: 2.5vh;
}

.empleado a {
    color: black;
    text-decoration: none;
}

.empleado span {
    width: 100%;

    margin-bottom: 2.5vh;

    font-size: 1.2em;
    font-weight: bold;

    filter: drop-shadow(0px 0px 5px white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.quienesSomos {
    width: 100%;
    height: auto;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-repeat: repeat;
    background-size: 50px;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.quienesSomos img {
    width: 40vh;
}

.contenedorQuienesSomos {
    width: auto;

    margin: 5vh 0;
}

.contenedorQuienesSomos h2 {
    font-size: 4em;
    margin: 5vh 0;

    font-weight: normal;
}

.contenedorQuienesSomos p {
    width: 60vw;

    margin: 5vh 10vh;
    font-size: 1.8em;
    text-align: justify;

    font-weight: lighter;
}

.misionVision {
    width: 100%;
    height: 80vh;

    background-image: url(../../../imgs/Empresa/FondoMV.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 3px solid #C9A740;
    border-bottom: 3px solid #C9A740;
}

.contenedorMisionVision {
    height: 100%;
    width: auto;

    display: flex;
    align-items: start;
    justify-content: center;
}

.separadorMV {
    height: calc(100% - 5vh);
    width: 3px;

    background: linear-gradient(180deg, #F8E18F, #C9A740);
    filter: drop-shadow(0px 0px 8px rgba(255, 215, 100, 0.4));

    margin: 2.5vh 2.5vw;
}

.mision, .vision {
    width: 40vw;
    height: auto;

    transition: 0.5s ease;

    user-select: none;
}

.imgContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mision img, .vision img {
    width: 20vw;

    margin: 5vh 0;

    filter: drop-shadow(0 0 8px rgba(255, 215, 100, 0.4));
}

.mision:hover, .vision:hover {
    transform: translateY(-5px);
}

.mision h2, .vision h2 {
    background: linear-gradient(180deg, #F8E18F, #C9A740);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px rgba(255, 215, 100, 0.4);

    font-size: 7.5vh;

    width: 100%;

    margin-top: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mision p, .vision p {
    background: linear-gradient(180deg, #F8E18F, #C9A740);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px rgba(255, 215, 100, 0.4);

    height: 70%;
    padding: 0 10vh;

    font-size: 3vh;
    line-height: 4vh;

    text-align: center;
}

.valores {
    width: 100%;
    height: 80vh;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-repeat: repeat;
    background-size: 50px;
    background-position: center;

    display: flex;
    align-items: start;
    justify-content: center;

    user-select: none;
    padding-bottom: 2.5vh;
}

.contenedorValores {
    width: 100%;

    overflow: hidden;
    position: relative;

}

.contenedorValores h2 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4em;
    margin: 5vh 0;

    font-weight: normal;
}

.contenedorTarjetas {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetaValor {
    width: 20vw;
    height: auto;

    border: 1px solid lightgray;
    border-radius: 2.5vh;

    background-color: white;

    padding: 2.5vh;
    margin: 2.5vh;

    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.253));

    transition: 0.3s ease;
}

.tarjetaValor h3 {
    width: 100%;
    text-align: center;
    font-size: 1.7em;

    margin-bottom: 5vh;
}

.tarjetaValor p {
    width: 100%;
    text-align: center;
    font-size: 1.5em;

    margin-bottom: 1vh;
}

.tarjetaValor:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.253)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.253));
}

.reclutamiento {
    user-select: none;

    width: 100%;
    height: 110vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../../imgs/Empresa/PuertasCamelotNoche.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-top: rgb(255, 215, 100) 2px solid;
    border-bottom: rgb(255, 215, 100) 2px solid;
}

.contenedorReclutamiento {
    width: 70%;
    height: auto;
}

.contenedorImgReclutamiento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorReclutamiento img {
    width: 40vw;
    filter: drop-shadow(0px 0px 8px rgba(255, 215, 100, 0.4));

    margin: 7.5vh 0;
}

.contenedorReclutamiento h3 {
    font-size: 5em;
    font-weight: normal;

    text-align: center;

    background: linear-gradient(180deg, #F8E18F, #C9A740);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px rgba(255, 215, 100, 0.4);

    filter: drop-shadow(0px 0px 10px black);

    margin-bottom: 5vh;
}

.contenedorButtonReclutamiento {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorButtonReclutamiento button {
    padding: 4vh 6.5vh;

    border: 1px solid goldenrod; 
    border-radius: 10vh;

    color: rgb(49, 41, 12); 

    text-decoration: none; 
    font-size: 2em;
    font-weight: bold; 

    background: linear-gradient(135deg, #F8E18F, #C9A740, #fff3b0); 
    background-size: 200%; box-shadow: 0 4px 10px rgba(255, 215, 0, 0.4); 
    
    transition: background-position 0.6s ease, transform 0.3s, border 0.3s;
}

.contenedorButtonReclutamiento button:hover {
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(139, 119, 0, 0.575); 
    border: 1px solid rgb(255, 225, 119); 
    transform: scale(1.025); 
    background-position: right center;
}

.invertidoVertical {
    transform: scaleY(-1);
}