.verificacion {
    width: 100%;
    height: 92.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;
}

.mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensajes h1 {
    width: 80vw;
    text-align: center;
}

.mensajes p {
    margin-top: 3vh;
    width: 80%;
    text-align: center;
}