.versionadoExtenso {
    width: 100%;
    height: auto;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;
}

.tituloPrincipalVersionado {
    width: 100%;
    height: auto;

    user-select: none;

    padding: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloPrincipalVersionado img {
    height: 8vh;
}

.tituloPrincipalVersionado span {
    font-family: 'Rosie Brown';
    font-weight: bold;

    margin: 0 2.5vh;
    
    height: 8vh;
    font-size: 8vh;
    line-height: 9  vh;

    transition: 0.5s ease;
}

.tituloPrincipalVersionado:hover span {
    margin: 0 5vh;
    transform: scale(1.02);
}

.invertidoHorizontal {
    transform: scaleX(-1);
}

/* CONTENEDOR VERSIONADO */

.contenedorVersionadoExtenso {
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    justify-content: center;
}


/* VOLVER ARRIBA */

.contenedorVolverArriba {
    width: 100%;
    height: auto;

    padding: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorVolverArriba button {
    color: rgb(49, 41, 12);
    text-decoration: none;
    font-weight: bold;
    font-size: 4vh;
    
    background: linear-gradient(135deg, #ffd700, #ffbe19, #fff3b0);
    background-size: 200%;
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.4);

    width: 33%;
    padding: 4vh 14vh;
    margin: 0 5vh;

    border: 1px solid goldenrod;
    border-radius: 10vh;

    transition: background-position 0.6s ease, transform 0.3s, border 0.3s, 0.6s ease;
}

.contenedorVolverArriba button:hover {
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(139, 119, 0, 0.575);
    border: 1px solid rgb(255, 225, 119);
    
    transform: scale(1.025);

    margin: 0 7.5vh;

    background-position: right center;
}

.contenedorVolverArriba img {
    margin-top: 1vh;
    height: 10vh;
}

@media (orientation: portrait) {
    .tituloPrincipalVersionado {
        height: auto;
        padding: 5vh 0;
    }

    .tituloPrincipalVersionado span {
        max-width: 50vw;
        height: auto;
        font-size: 3vh;

        text-align: center;

        margin: 0 1.5vh;

        filter: drop-shadow(0px 0px 5px white) drop-shadow(0px 0px 15px white);
    }
    
    .tituloPrincipalVersionado:hover span {
        margin: 0 2.5vh;
    }

    .tituloPrincipalVersionado img {
        max-width: 15vw;
        height: auto;
    }

    .contenedorVersionadoExtenso {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorVolverArriba button {
        width: 50vw;
        font-size: 2.5vh;
        padding: 2.5vh 3.5vh;
        margin: 0 2vh;
    }

    .contenedorVolverArriba:hover button {
        margin: 0 3vh;
    }

    .contenedorVolverArriba img {
        width: 17.5vw;
        margin-bottom: 10px;
        height: auto;
    }
}