@font-face {
  font-family: 'Rosie Brown';
  src: url('../../assets/RosieBrown.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.versionadoExtenso {
    width: 100%;
    height: auto;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;
}

.tituloPrincipalVersionado {
    width: 100%;
    height: auto;

    user-select: none;

    padding: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloPrincipalVersionado img {
    height: 8vh;
}

.tituloPrincipalVersionado span {
    font-family: 'Rosie Brown';
    font-weight: bold;

    margin: 0 2.5vh;
    
    height: 8vh;
    font-size: 8vh;
    line-height: 9  vh;

    transition: 0.5s ease;
}

.tituloPrincipalVersionado:hover span {
    margin: 0 5vh;
    transform: scale(1.02);
}

.invertidoHorizontal {
    transform: scaleX(-1);
}

.contenedorVersionadoExtenso {
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    justify-content: center;
}

/* LISTA VERSIONADO */

.listaVersionesExtenso {
    width: auto;
    height: 75vh;

    margin: 2.5vh 5vh 0 0 ;

    overflow-x: hidden;
    overflow-y: scroll;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.listaVersionesExtenso::-webkit-scrollbar {
    display: none;
}

.listaVersionesExtenso a {
    text-align: center;
    text-decoration: none;
    color: black;

    height: 3vh;
}

.listaVersionesExtenso a span{
    text-align: center;
    text-decoration: none;
    color: black;

    width: 100%;
}

.opcionVersionadoExtenso {
    display: flex;
    
    align-items: center;
    justify-content: left;

    padding: 1.5vh;
    margin: 1.5vh;

    background-color: white;

    border: 1px solid lightgray;
    border-radius: 0.5vh;

    transition: 0.3s ease;
}

.opcionVersionadoExtenso:hover {
    background-color: lightgray;
    cursor: pointer;
}

.opcionVersionadoExtenso:has(input[type="radio"]:checked) {
    border: 1px solid black;
}

.opcionVersionadoExtenso:has(input[type="radio"]:checked) .imgSelectorExtenso {
    background-image: url(../../../imgs/Home/Versionado/SelectorEncendido.png);
    background-size: contain;
    background-position: center;
}

.opcionVersionadoExtenso input[type="radio"] {
    display: none;
}

.imgSelectorExtenso {
    width: 3vh;
    height: 3vh;
    
    margin-right: 1vh;

    background-image: url(../../../imgs/Home/Versionado/SelectorApagado.png);
    background-size: contain;
    background-position: center;

    transition: 0.3s ease;
}

/* CHANGELOG VERSIONADO */

.tituloVersionado {
    width: 100%;
    height: auto;

    user-select: none;

    margin: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloVersionado img {
    height: 5vh;
}

.tituloVersionado span {
    font-family: 'Rosie Brown';
    font-weight: bold;

    margin: 0 2.5vh;
    
    height: 5vh;
    font-size: 5vh;
    line-height: 5.75vh;

    transition: 0.5s ease;
}

.tituloVersionado:hover span {
    margin: 0 5vh;
    transform: scale(1.02);
}

.changelogVersionExtenso {
    width: 60vw;

    padding: 2.5vh;

    background-color: white;

    border: 1px solid black;
}

.changelogVersionExtenso h1 {
    font-size: 5vh;
    line-height: 5vh;
    margin: 5vh 0;

    transition: 0.5s ease;
}

.changelogVersionExtenso h1:hover {
    margin: 5vh 2.5vh;
}

.changelogVersionExtenso h1 img {
    height: 5vh;
}

.changelogVersionExtenso h2 {
    font-size: 3.5vh;
    margin: 3vh 5vh;
}

.changelogVersionExtenso h3 {
    font-size: 2vh;
    margin: 3vh 5vh;
}

.changelogVersionExtenso .textoVCentrado {
    text-align: center;
}

.changelogVersionExtenso li {
    margin: 0 5vh;
}

.changelogVersionExtenso li p {
    margin: 1vh 0;
}

.changelogVersionExtenso p {
    margin: 1vh 5vh;
    text-align: justify;
}

.changelogVersionExtenso .imagenChangelog h3 {
    text-align: center;
}

.changelogVersionExtenso .imagenChangelog .imgChangelog {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.changelogVersionExtenso .imagenChangelog img {
    border: 1px solid black;

    width: 30vw;
    max-width: 60%;
}

.changelogVersionExtenso .sangria {
    text-indent: 5vh;
}

.contenedorNotasDev {
    width: 100%;
    height: auto;

    margin-bottom: 2.5vh;
}

.contenidoNotasDev {
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    justify-content: center;
}

.izqNotasDev {
    width: 50%;
}

.izqNotasDev p {
    margin: 0 2.5vh 2.5vh;
    font-size: 1.2em;
}

.derNotasDev {
    width: 40%;
}

.derNotasDev img {
    width: 100%;
}

.derNotasDev p {
    width: 100%;
    text-align: center;
    margin: 1vh 0;
}

/* VOLVER ARRIBA */

.contenedorVolverArriba {
    width: 100%;
    height: 20vh;

    padding: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorVolverArriba button {
    padding: 3.5vh 7.5vh;
    margin: 0 5vh;
    
    font-size: 5vh;

    border: 1px solid black;
    border-radius: 10vh;

    transition: 0.5s ease;
}

.contenedorVolverArriba button:hover {
    cursor: pointer;

    transform: scale(1.025);
    filter: drop-shadow(0px 0px 5px black);

    margin: 0 10vh;
}

.contenedorVolverArriba img {
    margin-top: 1vh;
    height: 15vh;
}