/* SELECTOR SERVANT */

.selectorServant {
    user-select: none;

    width: auto;

    position: absolute;

    margin: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5vh;

    z-index: 5;
}

.opcionServant {
    width: 125px;

    aspect-ratio: 1/1;

    position: relative;
    cursor: pointer;
    filter: brightness(0.7);
    transition: filter 0.3s ease;
    
    overflow: hidden;
}

.opcionServant:hover {
    filter: brightness(0.9);
}

.opcionServantSeleccionada {
    filter: brightness(1);
}

.opcionServantSeleccionada:hover {
    filter: brightness(1);
}

.opcionServant::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(../../../../../../imgs/Home/Servants/SelectorBorde.png) no-repeat center;
    background-size: 125px;
    z-index: 2;

    pointer-events: none;
}

.opcionServant img {
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    z-index: 1;
}

.noHayServants {
    width: 100%;
    font-size: 5vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    .selectorServant {
        width: 100%;

        overflow-x: scroll;

        margin: 0;
    }

    .opcionServant,
    .opcionServant img {
        width: 22.5vw;

        aspect-ratio: 1/1;
    }
    
    .opcionServant::after {
        background-size: 22.5vw;
    }
}