* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedorPlaceholder {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.botonesPlaceholder a {
  display: block;

  width: 30vh;
  height: 5vh;

  font-size: 2em;
  text-align: center;
  text-decoration: none;

  color: black;
  
  padding: 1.5vh;
  margin: 2vh 2.5vh;

  border: 1px solid black;
  border-radius: 1vh;

  transition: 0.15s;
}

.botonesPlaceholder a:hover {
  background-color: gainsboro;
}