.registro {
    width: 100%;
    height: 92.5vh;

    background-image: url(../../../imgs/Registro/ChaldeaInside.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorRegistro {
    width: auto;
    height: auto;

    padding: 2.5vh 7.5vh;

    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 2.5vh;
}

.imagenRegistro {
    width: 30vw;
    height: 100%;

    margin-left: 10vw;

    background-image: url(../../../imgs/Registro/RomaniTorso.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    
    filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.47));
}

.tituloRegistro {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5vh 0;
}

.tituloRegistro h1 {
    user-select: none;

    font-size: 6vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formularioRegistro {
    width: 100%;
    height: auto;

    margin: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formularioRegistro form {
    width: 30vw;
}

.formularioRegistro form label {
    user-select: none;

    width: 100%;

    font-size: 2.5vh;

    margin-bottom: 1vh;
    
    border: none;
    color: rgb(113, 113, 113);
    
    display: block;
}

.formularioRegistro form input {
    width: 100%;
    
    font-size: 3vh;

    padding-left: 0.5vh;

    padding-top: 0.75vh;
    padding-bottom: 0.25vh;

    margin-top: 1vh;
    margin-bottom: 4vh;

    border: none;
    border-bottom: 1px solid black;

    background: none;

    display: block;
    transition: 0.3s cubic-bezier(0, 0, 0.75, 1.0);
}

/* quita el borde o glow al enfocar */
.formularioRegistro input:focus {

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 4vh;

    outline: none;
    box-shadow: none;
    
}

/* quita fondo amarillo o gris del autocompletado (Chrome/Safari) */
.formularioRegistro input:-webkit-autofill,
.formularioRegistro input:-webkit-autofill:hover,
.formularioRegistro input:-webkit-autofill:focus,
.formularioRegistro input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
}

/* opcional: evita que cambie el fondo al autocompletar */
.formularioRegistro input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
}


.formularioRegistro button {
    user-select: none;

    width: 90%;
    height: 7vh;

    margin: 0.25vh 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #ffd700, #ffbe19, #fff3b0);
    background-size: 200%;
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.4);
    
    border: 1px solid goldenrod;
    border-radius: 5vh;

    transition: 0.3s ease;

    color: rgb(49, 41, 12);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vh;

    transition: background-position 0.6s ease, transform 0.3s, border 0.3s, 0.3s ease;
}

.formularioRegistro button:hover {
    box-shadow: 0 4px 10px rgba(139, 119, 0, 0.575);
    border: 1px solid rgb(255, 225, 119);
    
    background-position: right center;

    transform: scale(1.025);

    cursor: pointer;
}

.formularioRegistro form p {
    width: 100%;

    margin-bottom: 4vh;

    font-size: 2.5vh;

    text-align: center;

    cursor: default;
}

.passwords {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pass {
    width: 45%;
}

@media (orientation: portrait) {
    .registro {
        flex-direction: column;
        min-height: 100vh; /* Asegura que ocupe toda la pantalla */
        display: flex;
    }

    .contenedorRegistro {
        width: 70vw;
        padding: 5vw;
        margin-top: 10vw;
    }

    .tituloRegistro {
        margin: 0;
        margin-top: 2.5vh;
    }

    .tituloRegistro h1 {
        font-size: 3vh;
    }

    .formularioRegistro {
        margin-bottom: 2.5vh;
    }

    .formularioRegistro form {
        width: 90%;
    }

    .formularioRegistro form label {
        font-size: 2vh;
        margin-bottom: 0;
    }
    
    .formularioRegistro form input {
        padding-left: 0;
        padding-top: 0.75vh;
        padding-bottom: 0.25vh;
        margin-top: 0;
        margin-bottom: 2vh;
    }
    
    .formularioRegistro input:focus {
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        margin-bottom: 2vh;
    }

    .formularioRegistro button {
        margin-top: 2.5vh;
    }
    
    .pass label {
        height: 4vh;
    }

    /* PERSONAJE - LO IMPORTANTE */
    .imagenRegistro {
        width: 100vw;
        
        margin-left: 0;
        margin-top: 0;
        
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}