.loading {
    width: 100%;
    height: 92.5vh;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loading h1 {
    font-size: 3em;
}