/* VERSIONADO */

.versiones {
    border-top: 1px solid lightgray;
}

.contenedorVersionado {
    width: 100%;
}

.contenedorVersionado h2 {
    width: 100%;

    text-align: center;
    font-size: 2em;

    padding-top: 5vh;
}

.contenedorChangelog {
    width: 100%;
    height: 85vh;

    padding: 2.5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textoCambios {
    width: 40vw;
    height: 70vh;

    padding: 2.5vh;

    margin-right: 2.5vw;

    border: 1px solid black;
    
    overflow-x: hidden; /* ✅ activa scroll horizontal solo dentro del contenedor */
    overflow-y: auto;
    scroll-behavior: smooth; /* animación suave */
    max-width: 100%;
    max-height: 100%;

    background-color: white;
}

.textoCambios h3 {
    text-align: center;
    margin-bottom: 2.5vh;
}

.textoCambios h4 {
    margin: 2vh 0;
}

.textoCambios p {
    margin: 1vh 0;
}

.listaVersiones {
    width: auto;
    height: 70vh;

    overflow-y: scroll;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.listaVersiones::-webkit-scrollbar {
  display: none;
}

.listaVersiones a {
    text-align: center;
    text-decoration: none;
    color: black;

    filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.15));
    
    height: 3vh;
}

.listaVersiones a span{
    text-align: center;
    text-decoration: none;
    color: black;

    width: 100%;

    font-size: 2vh;
}

.opcionVersionado {
    display: flex;
    
    align-items: center;
    justify-content: left;

    padding: 1.5vh;
    margin: 1.5vh;

    background-color: white;

    filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.15));

    border: 1px solid lightgray;
    border-radius: 0.5vh;

    transition: 0.3s ease;
    
    font-size: 2vh;
}

.opcionVersionado:hover {
    background-color: lightgray;
    cursor: pointer;
}

.opcionVersionado:has(input[type="radio"]:checked) {
    border: 1px solid black;
}

.opcionVersionado:has(input[type="radio"]:checked) .imgSelector {
    background-image: url(../../../imgs/Home/Versionado/SelectorEncendido.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.opcionVersionado input[type="radio"] {
  display: none;
}

.imgSelector {
    width: 3vh;
    height: 3vh;
    
    margin-right: 1vh;

    background-image: url(../../../imgs/Home/Versionado/SelectorApagado.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s ease;
}

@media (orientation: portrait) {
    .contenedorChangelog {
        display: flex;
        flex-direction: column-reverse;

        padding: 0;

        height: auto;
    }

    .contenedorVersionado h2 {
        padding: 5vh 0;
    }

    .textoCambios {
        margin: 0;
        margin-bottom: 2.5vh;

        width: 80vw;
        height: 60vh;
    }

    .listaVersiones {
        max-width: 70vw;

        height: 30vh;

        margin-bottom: 2.5vh;
    }

    .imgSelector {
        min-width: 2.5vh;
        min-height: 2.5vh;
        max-width: 2.5vh;
        max-height: 2.5vh;
    }
}