/* CHANGELOG VERSIONADO */

.tituloVersionado {
    width: 100%;
    height: auto;

    user-select: none;

    margin: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloVersionado img {
    height: 5vh;
}

.tituloVersionado p {
    margin: 0 2.5vh !important; 
    padding-top: 0.75vh;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5vh;
    justify-content: center;

    transition: 0.5s ease;
}

.tituloVersionado:hover p {
    margin: 0 5vh !important;
    transform: scale(1.02);
}

.tituloVersionado p span {
    font-family: 'Rosie Brown';
    font-weight: bold;

    height: auto;
    min-height: 5vh;
    font-size: 5vh;
    line-height: 5.75vh;

    transition: 0.5s ease;
    
    white-space: nowrap;
}

.changelogVersionExtenso {
    width: 60vw;

    padding: 2.5vh;

    background-color: white;

    border: 1px solid black;
}

.changelogVersionExtenso h1 {
    font-size: 5vh;
    line-height: 5vh;
    margin: 5vh 0;

    transition: 0.5s ease;
}

.changelogVersionExtenso h1:hover {
    margin: 5vh 2.5vh;
}

.changelogVersionExtenso h1 img {
    height: 5vh;
}

.changelogVersionExtenso h2 {
    font-size: 3.5vh;
    margin: 3vh 5vh;
}

.changelogVersionExtenso h3 {
    font-size: 2vh;
    margin: 3vh 5vh;
}

.changelogVersionExtenso .textoVCentrado {
    text-align: center;
}

.changelogVersionExtenso li {
    margin: 0 5vh;
}

.changelogVersionExtenso li p {
    margin: 1vh 0;
}

.changelogVersionExtenso p {
    margin: 0vh 5vh;
    text-align: justify;
}

.changelogVersionExtenso .imagenChangelog h3 {
    text-align: center;
}

.changelogVersionExtenso .imagenChangelog .imgChangelog {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.changelogVersionExtenso .imagenChangelog img {
    border: 1px solid black;

    width: 30vw;
    max-width: 60%;
}

.changelogVersionExtenso .sangria {
    text-indent: 5vh;
}

.contenedorNotasDev {
    width: 100%;
    height: auto;

    margin-bottom: 2.5vh;
}

.contenidoNotasDev {
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    justify-content: center;
}

.izqNotasDev {
    width: 50%;
}

.izqNotasDev p {
    margin: 0 2.5vh 2.5vh;
    font-size: 1.2em;
}

.derNotasDev {
    width: 40%;
}

.derNotasDev img {
    width: 100%;
    border-radius: 2.5vh;
}

.derNotasDev p {
    width: 100%;
    text-align: center;
    margin: 1vh 0;
}

@media (orientation: portrait) {
    .changelogVersionExtenso {
        width: 90vw;
        padding: 2.5vh 0;
    }

    .tituloVersionado {
        width: 90vw;
        height: auto;
        margin: 2.5vh 0;
    }

    .tituloVersionado p {
        margin: 0 1.5vh !important;
        padding-top: 0;
        
        display: flex;
        flex-direction: column;
        gap: 0vh;
        align-items: center;
        
        transition: 0.5s ease;
    }

    .tituloVersionado:hover p {
        margin: 0 2.5vh !important;
        transform: scale(1.025);
    }

    .tituloVersionado img {
        max-width: 15vw;
        height: auto;
    }

    .tituloVersionado p span {
        display: block;

        max-width: 70vw;
        width: 100%;
        height: auto;
        min-height: auto;
        font-size: clamp(2vh, 2.5vh, 3vh);
        line-height: normal;

        text-align: center;

        margin: 0;
        padding: 0;

        filter: drop-shadow(0px 0px 5px white) drop-shadow(0px 0px 15px white);
        
        word-wrap: break-word;
    }

    .changelogVersionExtenso h2 {
        text-align: center;
    }

    .changelogVersionExtenso h3 {
        text-align: center;
    }

    .changelogVersionExtenso .imagenChangelog img {
        width: 80vw;
        max-width: 80vw;
    }

    .contenedorNotasDev {
        margin-bottom: 0;
    }

    .contenedorNotasDev .tituloVersionado {
        margin-top: 5vh;
    }

    .contenidoNotasDev {
        flex-direction: column;

        align-items: center;
    }

    .izqNotasDev {
        width: 80vw;
    }

    .izqNotasDev p {
        font-size: 2vh;
    }

    .derNotasDev {
        width: 80vw;
    }

    .derNotasDev p {
        margin-bottom: 0;
    }
}