.ownersEmpresa {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedorOwnersEmpresa {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2.5vh 5vh;

    margin: 5vh 0;

    background-color: rgba(255, 255, 255, 0.746);
    border-radius: 2.5vh;
}

.owner {
    user-select: none;

    margin: 2.5vh;
}

.owner a {
    color: black;
    text-decoration: none;

    font-size: 2em;
    font-weight: bold;
}

.owner img {
    width: 40vh;
    max-width: 40vw;
    height: 40vh;
    max-height: 40vw;
    

    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px black);

    transition: 0.3s ease;
}

.owner img:hover {
    transform: scale(1.01);
}

.owner span {
    width: 100%;
    height: auto;

    margin-top: 2vh;

    filter: drop-shadow(0px 0px 5px white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.owner span a {
    transition: 0.2s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.owner span a:hover {
    transform: scale(1.01) translateY(-2px);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.442));
}

@media (orientation: portrait) {
    .contenedorOwnersEmpresa {
        width: 90vw;
        height: auto;

        margin: 5vh 0;
        padding: 0;
    }

    .owner {
        width: 35vw;
        margin: 5vw 3.5vw;
    }

    .owner a img {
        width: 35vw;
        height: 35vw;
    }

    .owner span {
        margin-top: 1vh;
    }

    .owner span a {
        font-size: 3vh;
    }
}