
.infoRegistro {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;

    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;

    padding-top: 8vh;
    padding-bottom: 15vh;
}

.info {
    width: 100%;
    height: 45vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.info img {
    height: auto;
    max-height: 60vh;

    width: auto;
    max-width: 20vw;

    margin: 5vh;
}

.textoInfo {
    width: 60vw;
}

.textoInfo h2 {
    font-size: 3em;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5vh;
}

.textoInfo p {
    font-size: 1.2em;
    text-align: center;

    margin: 1.25vh 0;
}

.info .imgMash {
    background-image: url('../../../imgs/Registro/Info/Mash.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 60vh;
    max-height: 60vh;

    width: 20vw;
    max-width: 20vw;

    margin: 5vh;

    transition: 0.3s ease;
}

.info .imgMash:hover {
    background-image: url('../../../imgs/Registro/Info/MashHover.png');
    transition: 0.3s ease;
}

.info .imgNemo {
    background-image: url("../../../imgs/Registro/Info/Nemo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 60vh;
    max-height: 60vh;

    width: 20vw;
    max-width: 20vw;

    margin: 5vh;

    transition: 0.3s ease;
}

.info .imgNemo:hover {
    background-image: url("../../../imgs/Registro/Info/NemoHover.png");
}

.info .imgEdmond {
    background-image: url("../../../imgs/Registro/Info/Edmond.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 60vh;
    max-height: 60vh;

    width: 20vw;
    max-width: 20vw;

    margin: 5vh;

    transition: 0.3s ease;
}

.info .imgEdmond:hover {
    background-image: url("../../../imgs/Registro/Info/EdmondHover.png");
}

@media (orientation: portrait) {
    .infoRegistro {
        padding: 5vh 0;
    }

    .info {
        flex-direction: column;
        height: auto;
    }

    .info .imgEdmond,
    .info .imgNemo,
    .info .imgMash {
        min-height: 30vh;
        max-height: 40vh;
        min-width: 70vw;
    }

    .reverse {
        flex-direction: column-reverse;
    }
    
    .textoInfo {
        width: 80vw;
    }

    .textoInfo h2 {
        text-align: center;
        font-size: 5vh;
    }

    .textoInfo p {
        font-size: 2.5vh;
    }
}