.contenedorLogin {
    width: 100%;
    height: 92.5vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    overflow: hidden;
}

.contenedorLogin::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../../../imgs/Login/fondoLogin.png) bottom/cover no-repeat;
    filter: blur(2px);
    transform: scale(1.05); /* para evitar bordes duros */
    z-index: -1;
}

.imagenLogin {
    height: 92.5vh;
    width: 50vw;

    background-image: url(../../../imgs/Login/fondoPersonaje.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    filter: drop-shadow(0px 0px 12px rgba(255, 246, 160, 0.47));
}

.formularioLogin {
    width: 40vw;
    height: calc(100% - 5vw);

    background-color: rgba(255, 255, 255, 0.884);
    
    border-radius: 2.5vh;
}

.formularioLogin h1 {
    width: 100%;

    margin: 5vh 0 7.5vh;

    font-weight: normal;
    font-size: 2.25em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formularioLogin form {
    width: 25vw;
    height: auto;

    margin: 0 7.5vw;

    margin-bottom: 5vh;
}

.formularioLogin label {
    width: 100%;

    display: block;
    
    font-size: 1.3em;
}

.formularioLogin input {
    width: 100%;

    font-size: 1.1em;
    color: black;

    margin-top: 2vh;
    margin-bottom: 10vh;
    padding-bottom: 0.3vh;

    display: block;

    border-radius: 0px;

    border: none;
    border-bottom: 1px solid black;

    background: none;

    transition: 0.3s ease;
}

/* quita el borde o glow al enfocar */
.formularioLogin input:focus {
    outline: none;
    box-shadow: none;
    padding-bottom: 0.8vh;
    transition: 0.3s ease;
}

/* quita fondo amarillo o gris del autocompletado (Chrome/Safari) */
.formularioLogin input:-webkit-autofill,
.formularioLogin input:-webkit-autofill:hover,
.formularioLogin input:-webkit-autofill:focus,
.formularioLogin input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
}

/* opcional: evita que cambie el fondo al autocompletar */
.formularioLogin input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
}

.formularioLogin button {
    width: 90%;
    height: 7vh;

    margin: 0.25vh 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #ffd700, #ffbe19, #fff3b0);
    background-size: 200%;
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.4);
    
    border: 1px solid goldenrod;
    border-radius: 5vh;

    transition: 0.3s ease;

    color: rgb(49, 41, 12);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;

    transition: background-position 0.6s ease, transform 0.3s, border 0.3s, 0.3s ease;
}

.formularioLogin button:hover {
    box-shadow: 0 4px 10px rgba(139, 119, 0, 0.575);
    border: 1px solid rgb(255, 225, 119);
    
    background-position: right center;

    transform: scale(1.025);

    cursor: pointer;
}

.formularioLogin p {
    width: 100%;

    text-align: center;

    margin: 1vh 0;
}

.formularioLogin a {
    text-decoration: none;

    color: blue;
}