/* PERSONAJES */

.personajes {
    width: 100%;
    height: auto;

    border-top: 1px solid lightgray;
}

.fichaPersonaje {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    background: linear-gradient(175deg, 
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 20%, 
    rgb(0, 0, 0) 20%, 
    rgb(0, 0, 0) 20.5%, 
    rgba(255, 255, 255, 0) 20.5%, 
    rgba(255, 255, 255, 0) 79.5%, 
    rgb(0, 0, 0) 79.5%,
    rgb(0, 0, 0) 80%,
    rgba(255, 255, 255, 0) 80%);
}

.flecha {
    width: 3vw;
    margin: 0 1vw;
}

.flecha a {
    width: 3vw;
}

.flecha a img {
    width: 3vw;
}

.flechaIzquierda {
    transform: scaleX(-1);
}

.personaje {
    width: 100%;
    height: auto;
    
    margin: 10vh 0;

    

    display: flex;
    justify-content: space-between;
}

.personajeInfo {
    width: auto;
    height: 100%;
}

.personajeNombre h1 {
    text-align: center;
    background-color: white;
    background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 10%, 
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%);

    transform: rotate(355deg);

    width: 130%;

    font-size: 5em;
    margin: 2vh auto;
}

.personajeTexto {
    margin-left: 15vw;
    margin-top: 14vh;
}

.personajeTexto p {
    font-size: 1.2em;
    text-align: left;
    margin: 1.5vh 0;
}

.personajeImagen {
  position: relative;
  display: inline-block;
  overflow: visible; /* por si acaso */

  margin-right: 10vw;
}

.personajeImagen::after {
  content: "";
  position: absolute;
  top: 63.5%;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: url("../../../imgs/Home/Servants/Edmond.png") no-repeat center top / 100% auto;
  transform: scaleY(-0.3);
  opacity: 0.3;
  filter: blur(2px);
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}


.personajeImagen img {
    height: 70vh;
}

.seleccionClase {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid rgb(214, 198, 133);
    border-bottom: 2px solid rgb(214, 198, 133);

    background-image: url(../../../imgs/Home/FateSeries/fondo.png);
    background-size: cover;
    background-position: center;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.seleccionClase a {
/* les falta un logo al principio del boton */

    user-select: none;

    z-index: 1;

    height: 7.5vh;
    width: 15vw;

    margin: 0 3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    text-decoration: none;
    color: black;

    background-color: rgb(255, 243, 196);

    border: 2px solid rgb(203, 187, 121);
    border-radius: 2.5vh;

    transition: 0.3s ease;
}

.seleccionClase a:hover {
    filter: drop-shadow( 0px 7px 2px rgba(0, 0, 0, 0.128));
    cursor: pointer;
    transform: translateY(-7px);
}
