
/* CONTENIDO */

.contenidoServantsHome {
    width: 65%;

    padding: 0 17.5%;
}

.cargandoServants {
    width: 100%;
    font-size: 5vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    .contenidoServantsHome {
        padding: 0;

        width: 100%;

        background-size: 'auto 350px, auto 105px';
    }
}