@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
    margin: 0;
    padding: 0;
}

.contenedorHome {
    width: 100%;
    height: auto;
    
    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;
}