@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
    margin: 0;
    padding: 0;
}

.contenedorHome {
    width: 100%;
    height: auto;
    
    background-image: url(../../../imgs/Home/FondoRepeat.png);
    background-size: 50px;
    background-repeat: repeat;
    background-position: center;
}

/* TITULO */

.titulo {
    width: 100%;
    height: 92.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../../imgs/Home/Titulo/Titulo_Background.png);
    background-size: cover;
    background-position: center;
}

.tituloImg {
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 7.5vh;
}

.tituloImg img {
    height: 40vh;
    width: auto;
}

.tituloTexto h2 {
    text-align: center;
    font-size: 2em;

    margin: 2vh 0 ;
    
    color: white;

    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;

    filter: drop-shadow(0px 0px 10px black);
    
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        0 1px 0 black,
        1px 0 0 black,
        0 -1px 0 black,
        -1px 0 0 black;

}

.tituloButton {
    width: auto;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloButton a {
    color: rgb(49, 41, 12);
    text-decoration: none;
    font-weight: bold;

    background: linear-gradient(135deg, #ffd700, #ffbe19, #fff3b0);
    background-size: 200%;
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.4);

    padding: 2vh 7vh;

    border: 1px solid goldenrod;
    border-radius: 5vh;

    transition: background-position 0.6s ease, transform 0.3s, border 0.3s;
}

.tituloButton a:hover {
    box-shadow: 0 4px 10px rgba(139, 119, 0, 0.575);
    border: 1px solid rgb(255, 225, 119);
    
    transform: scale(1.025);

    background-position: right center;
}

/* PERSONAJES */

.personajes {
    width: 100%;
    height: auto;

    border-top: 1px solid lightgray;
}

.fichaPersonaje {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    background: linear-gradient(175deg, 
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 20%, 
    rgb(0, 0, 0) 20%, 
    rgb(0, 0, 0) 20.5%, 
    rgba(255, 255, 255, 0) 20.5%, 
    rgba(255, 255, 255, 0) 79.5%, 
    rgb(0, 0, 0) 79.5%,
    rgb(0, 0, 0) 80%,
    rgba(255, 255, 255, 0) 80%);
}

.flecha {
    width: 3vw;
    margin: 0 1vw;
}

.flecha a {
    width: 3vw;
}

.flecha a img {
    width: 3vw;
}

.flechaIzquierda {
    transform: scaleX(-1);
}

.personaje {
    width: 100%;
    height: auto;
    
    margin: 10vh 0;

    

    display: flex;
    justify-content: space-between;
}

.personajeInfo {
    width: auto;
    height: 100%;
}

.personajeNombre h1 {
    text-align: center;
    background-color: white;
    background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 10%, 
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%);

    transform: rotate(355deg);

    width: 130%;

    font-size: 5em;
    margin: 2vh auto;
}

.personajeTexto {
    margin-left: 15vw;
    margin-top: 14vh;
}

.personajeTexto p {
    font-size: 1.2em;
    text-align: left;
    margin: 1.5vh 0;
}

.personajeImagen {
  position: relative;
  display: inline-block;
  overflow: visible; /* por si acaso */

  margin-right: 10vw;
}

.personajeImagen::after {
  content: "";
  position: absolute;
  top: 63.5%;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: url("../../../imgs/Home/Servants/Edmond.png") no-repeat center top / 100% auto;
  transform: scaleY(-0.3);
  opacity: 0.3;
  filter: blur(2px);
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}


.personajeImagen img {
    height: 70vh;
}

.seleccionClase {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.seleccionClase a {
/* les falta un logo al principio del boton */

    z-index: 1;

    height: 7.5vh;
    width: 15vw;

    margin: 0 3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    text-decoration: none;
    color: black;

    background-color: white;

    border: 1px solid black;
    border-radius: 1vh;

    transition: 0.3s ease;
}

.seleccionClase a:hover {
    filter: drop-shadow( 0px 7px 2px rgba(0, 0, 0, 0.128));
    cursor: pointer;
    transform: translateY(-7px);
}

/* TRAILER */

.trailer {
    width: 100%;
    height: auto;
}

.trailerTitulo {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: end;
    justify-content: center;
}

.trailerTitulo h1 {
    font-family: "Quintessential", serif;
    
    font-size: 2.5em;
    text-align: center;

    margin-bottom: 2vh;
}

.trailerVideo {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botonPlay {
    width: 64vw;
    height: 36vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../../imgs/Home/Trailer/FondoTrailer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    border: 1px solid black;
}

.trailerTexto {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: start;
    justify-content: center;
}

.trailerTexto h2 {
    font-family: "Quintessential", serif;

    font-size: 1.5em;
    text-align: center;

    margin-top: 2vh;
}

/* FATE SERIES */

.fateSeries {
    width: 100%;
    height: 92.5vh;

    border-top: 1px solid rgb(214, 188, 85);
    border-bottom: 1px solid rgb(214, 188, 85);

    background-image: url(../../../imgs/Home/FateSeries/fondo.png);
    background-size: contain;
    background-position: center;
}

.contenedorSeries {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: 100%;

    overflow-x: auto; /* ✅ activa scroll horizontal solo dentro del contenedor */
    overflow-y: hidden;
    scroll-behavior: smooth; /* animación suave */
    max-width: 100%;
}

.contenedorSeries::-webkit-scrollbar {
  display: none;
}

.espaciadorSeries {
    width: 0px;
    height: 82.5vh;

    margin: 0 5vw;

    border: 1px solid black;
}

.contenedorUmbrella {
    margin-left: 5vw;
}

.contenedorUmbrella h2 {
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorFate {
    margin-right: 5vw;
}

.contenedorFate h2 {
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorChapters {
    height: 100%;
    width: auto;

    display: flex;
}

.contenedorFateSeries {
    height: 100%;
    width: auto;

    display: flex;
}

.itemSeries {
    width: 20vh;
    height: 70vh;

    margin: 2.5vh;

    border: 1px solid black;

    background-color: rgb(220, 206, 151);

    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.3s ease;
}

.itemSeries img {   
    transition: 0.3s ease;
}

.itemSeries:hover {
    background-size: 55vh;
    background-position-y: 40%;

    cursor: pointer;
    transform: scale(1.025);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.itemSeries:hover img {
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
}

.fondoItemSeries {
    width: 100%;
    height: 100%;
}

.itemSeries a {
    width: 10vh;
    height: 70vh;
}

.contenedorItemSeries {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    border: 1px solid black;
}

.logoSerie {
    width: 15vh;
    height: 15vh;

    margin: 0 2.5vh 5vh;
}

/* VERSIONADO */

.versiones {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.contenedorVersionado {
    width: 100%;
}

.contenedorVersionado h2 {
    width: 100%;

    text-align: center;
    font-size: 2em;

    padding-top: 5vh;
}

.contenedorChangelog {
    width: 100%;
    height: 85vh;

    margin: 2.5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textoCambios {
    width: 40vw;
    height: 70vh;

    padding: 2.5vh;

    margin-right: 2.5vw;

    border: 1px solid black;
    
    overflow-x: hidden; /* ✅ activa scroll horizontal solo dentro del contenedor */
    overflow-y: auto;
    scroll-behavior: smooth; /* animación suave */
    max-width: 100%;
    max-height: 100%;

    background-color: white;
}

.textoCambios h3 {
    text-align: center;
    margin-bottom: 2.5vh;
}

.textoCambios h4 {
    margin: 2vh 0;
}

.textoCambios p {
    margin: 1vh 0;
}

.listaVersiones {
    width: auto;
    height: 70vh;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.listaVersiones a {
    text-align: center;
    text-decoration: none;
    color: black;

    height: 3vh;
}

.listaVersiones a span{
    text-align: center;
    text-decoration: none;
    color: black;

    width: 100%;
}

.opcionVersionado {
    display: flex;
    
    align-items: center;
    justify-content: left;

    padding: 1.5vh;
    margin: 1.5vh;

    background-color: white;

    border: 1px solid lightgray;
    border-radius: 0.5vh;

    transition: 0.3s ease;
}

.opcionVersionado:hover {
    background-color: lightgray;
    cursor: pointer;
}

.opcionVersionado:has(input[type="radio"]:checked) {
    border: 1px solid black;
}

.opcionVersionado:has(input[type="radio"]:checked) .imgSelector {
    background-image: url(../../../imgs/Home/Versionado/SelectorEncendido.png);
    background-size: contain;
    background-position: center;
}

.opcionVersionado input[type="radio"] {
  display: none;
}

.imgSelector {
    width: 3vh;
    height: 3vh;
    
    margin-right: 1vh;

    background-image: url(../../../imgs/Home/Versionado/SelectorApagado.png);
    background-size: contain;
    background-position: center;

    transition: 0.3s ease;
}