.itemSeries {
    user-select: none;

    width: 20vh;
    height: 70vh;

    margin: 2.5vh;

    border: 1px solid black;

    background-color: rgb(220, 206, 151);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.3s ease;
}

.itemSeries img {   
    transition: 0.3s ease;
    filter: drop-shadow(0px 0px 2.5px rgba(255, 255, 255, 0.6));
}

.itemSeries:hover {
    cursor: pointer;
    transform: scale(1.025);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.itemSeries:hover img {
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));
}

.fondoItemSeries {
    width: 100%;
    height: 100%;
}

.itemSeries a {
    width: 100%;
    height: 100%;

    display: block;
    margin: 0;
}

.contenedorItemSeries {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    border: 1px solid black;
}

.logoSerie {
    width: 15vh;
    height: 15vh;

    margin: 0 2.5vh 5vh;
}

@media (orientation: portrait) {
    .itemSeries {
        width: 15vh;
        height: 55vh;

        margin: 1.5vh;
        margin-top: 0;
    }

    .itemSeries a {
        width: 100%;
        height: 100%;

        display: block;
        margin: 0;
    }

    .logoSerie {
        max-height: 12vh;
        max-width: 12vh;
    }
}