.empleadosEmpresa {
    width: 100%;
    height: auto;

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    align-items: center;
    justify-content: left;
}

.empleado {
    user-select: none;

    width: 30vh;
    max-width: 20vw;
    height: 100%;
    max-height: 15vw;

    margin: 5vh 2.5vh;
    background-color: rgba(255, 255, 255, 0.746);
    border-radius: 2.5vh;

    display: flex;
    flex-direction: column;

    transition: 0.3s ease;
}

.empleado:hover {
    transform: scale(1.025);
}

.empleado img {
    width: 15vh;
    height: 15vh;

    border-radius: 50%;

    filter: drop-shadow(0px 0px 10px white);

    margin: 2.5vh;
}

.empleado span {
    width: 100%;

    margin-bottom: 2.5vh;

    font-size: 1.2em;
    font-weight: bold;

    filter: drop-shadow(0px 0px 5px white);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    .empleado {
        margin: 5vw 2.5vw;
        
        width: 25vw;
        max-width: 25vw;

        height: 35vw;
        max-height: 35vw;

        color: black;
        text-decoration: none;
    }

    .empleado img {
        width: 17.5vw;
        height: 17.5vw;

        margin: 3.25vw;
        margin-bottom: 0;
    }

    .empleado span {
        height: 15vw;

        margin: 0;

        font-size: 2vh;
    }
}