/* TODO */

.servantsHome {
    width: 100%;

    border-top: 3px solid lightgray;

    position: relative;
    z-index: 1;
}

/* BOTONES */

.contenedorClasesBotones {
    width: 60%;

    margin: 5vh 0;
    padding: 0 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    
    gap: 1vh;

    position: relative;
    z-index: 10;
}

.botonClase {
    width: 17.5vh;
    height: 5vh;
}

.botonClase button {
    user-select: none;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-top: 1px solid #EDE9C1;
    border-bottom: 1px solid #EDE9C1;

    color: #EDE9C1;

    background-color: #281C15;

    transition: 0.3s ease;

    z-index: 999;
    
    padding: 0;
    overflow: hidden;
}

.botonClase button:hover {
    cursor: pointer;

    color: #f5f2ce;
    background-color: #1e1510;
}

.botonClase button:hover img {
    transform: scale(1.05);
}

.botonClase button img {
    height: 100%;
    aspect-ratio: 1/1;
    
    flex-shrink: 0;

    margin: 0;
    padding: 0 0.5vh;

    transition: 0.3s ease;
}

.botonClase button:hover span {
    transform: scale(1.025);
}

.botonClase button span {
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: clamp(1vh, 1.3vw, 2vh);
    
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;

    transition: 0.3s ease;
    
    white-space: nowrap;
    
    padding: 0 0.5vh;
}

@media (orientation: portrait) {
    .contenedorClasesBotones {
        width: 95%;
        padding: 0 2.5%;
        gap: 1vh;
    }

    .botonClase {
        min-width: 140px;
        max-width: 200px;
        height: 4vh;
    }

    .botonClase button img {
        padding: 0 0.75vh;
    }

    .botonClase button span {
        font-size: 2vh;
        padding: 0;
    }
}

@media (max-width: 400px) {
    .botonClase button span {
        font-size: clamp(1vh, 2.5vw, 1.8vh);
    }
}