* {
    margin: 0;
    padding: 0;
}

.contenedorFooter {
    display: flex;

    align-content: center;
    justify-content: space-between;

    width: 100%;
    height: 35vh;

    padding-top: 5px;

    background-image: url(../../../imgs/Footer/Fondo.png);
    background-size: cover;
    background-position: top;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.devs {
    width: 25vw;
    height: 35vh;

    margin-left: 10vh;

    display: flex;
    align-items: center;
    justify-content: left;
}

.dev {
    margin: 2.5vh 0;

    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.dev a {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: left;
}

.dev a:hover {
    color: rgb(208, 199, 152);
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 3px rgba(255, 226, 84, 0.447));
}

.devImg {
    display: flex;

    height: 10vh;
    width: 10vh;

    align-items: center;
    justify-content: center;
}

.devImg img {
    user-select: none;

    border-radius: 50%;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.447));

    width: 10vh;
    height: 10vh;
}

.devText p {
    user-select: none;

    margin: 0.75vh 0;
    margin-left: 2.5vh;

    display: block;

    color: rgb(226, 218, 173);

    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.447));

    transition: 0.15s;
}

.copyright {
    width: auto;
    height: 35vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.copyImg {
    display: flex;
    
    height: 20vh;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    
    margin: 2.5vh 0;
}

.copyImg img {
    user-select: none;

    width: auto;
    height: 100%;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.35));

    transition: 0.25s;
}

.copyImg img:hover {
    transform: scale(1.025);
}

.copyText {
    margin: 2.5vh 0;
}

.copyText p {
    text-align: center;

    user-select: none;

    display: block;

    color: rgb(226, 218, 173);

    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.447));

    transition: 0.15s;
}

.legal {
    
    height: 35vh;
    width: 25vw;
    
    display: flex;
    align-items: center;
    justify-content: right;

    margin-right: 10vh;
}

.legalText a, .legalText p {
    text-align: right;

    user-select: none;

    margin: 0.75vh 0;

    display: block;

    color: rgb(226, 218, 173);

    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318));

    transition: 0.15s;
}

.legalText a:hover {
    color: rgb(208, 199, 152);
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 3px rgba(255, 226, 84, 0.447));
}

@media (orientation: portrait) {

    .contenedorFooter {
        height: auto;
        padding-top: 8px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* --- DEVS --- */
    .devs {
        width: 100%;
        height: auto;
        
        margin: 5vh 0 0 0;

        display: flex;
        justify-content: center;
    }

    .contenedorDevs {
        width: 100%;
        height: auto;

        display: flex;
        gap: 5vh;
        align-items: center;
        justify-content: center;
    }

    .dev {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0;
    }

    .devImg {
        width: 10vh;
        height: 10vh;
    }

    .devImg img {
        width: 10vh;
        height: 10vh;
    }

    .devText p {
        width: 10vh;

        margin: 0;
        font-size: 2.2vh;
        text-align: center;
    }

    /* --- COPYRIGHT --- */
    .copyright {
        width: 100%;
        height: auto;
        margin: 5vh 0;

        display: flex;
        justify-content: center;
    }

    .contenedorCopyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .copyImg {
        margin: 0;
        margin-bottom: 2.5vh;

        height: auto;
        width: auto;
    }

    .copyImg img {
        height: 12vh;
        width: auto;
        margin: 0;
    }

    .copyText {
        margin: 0;
    }

    .copyText p {
        font-size: 2vh;
    }

    /* --- LEGAL --- */
    .legal {
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 5vh;

        display: flex;
        justify-content: center;
        text-align: center;
    }

    .legalText a,
    .legalText p {
        text-align: center;
        font-size: 2.2vh;
    }

    
}