/* FATE SERIES */

.fateSeries {
    width: 100%;
    height: 92.5vh;

    border-top: 1px solid rgb(214, 188, 85);
    border-bottom: 1px solid rgb(214, 188, 85);

    background-image: url(../../../imgs/Home/FateSeries/fondo.png);
    background-size: cover;
    background-position: center;
}

.contenedorSeries {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: 100%;

    overflow-x: auto; /* ✅ activa scroll horizontal solo dentro del contenedor */
    overflow-y: hidden;
    scroll-behavior: smooth; /* animación suave */
    max-width: 100%;
}

.contenedorSeries::-webkit-scrollbar {
  display: none;
}

.espaciadorSeries {
    width: 0px;
    height: 82.5vh;

    margin: 0 5vw;

    border: 1px solid black;
}

.contenedorUmbrella {
    margin-left: 5vw;
}

.contenedorFate {
    margin-right: 5vw;
}

.contenedorUmbrella h2,
.contenedorFate h2 {
    user-select: none;

    width: auto;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(1.25px 1.25px 0px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.contenedorChapters,
.contenedorFateSeries {
    height: 100%;
    width: auto;

    display: flex;
}

@media (orientation: portrait) {
    .fateSeries {
        height: 70vh;
    }

    .espaciadorSeries {
        height: 65vh;
    }

    .contenedorUmbrella h2,
    .contenedorFate h2 {
        justify-content: left;
        
        margin-left: 5vh;
    }

    .contenedorChapters,
    .contenedorFateSeries {
        margin: 0 1.5vh;
    }
}