/* CARRUSEL */

.carruselInfoServant {
    width: 100%;
    height: 100%;

    margin: 5vh 0;
    margin-bottom: 5vh;

    display: flex;
    align-items: start;
    justify-content: space-between;

    position: relative;
    z-index: 2;
}

.espaciadorInfoServant {
    height: 127px;
    margin: 5vh 0;
}

.textoInfoServant h1 {
    font-size: 5vh;
    font-weight: normal;
    margin: 5vh 0;

    width: 30vw;

    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.textoInfoServant h2 {
    font-size: 2vh;
    font-weight: normal;
    margin: 1vh 0;

    width: 30vw;

    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;

    z-index: 2;
}

.textoInfoServant h3 {
    font-size: 1.75vh;
    font-weight: normal;
    margin: 1vh 0;

    width: 30vw;

    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;

    z-index: 2;
}

.contenedorIframe {
    position: relative;

    width: 600px;
    height: 340px;

    margin-top: 2.5vh;
    margin-bottom: 5vh;

    z-index: 2;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.contenedorIframe iframe {
    width: 600px;
    height: 340px;

    object-fit: cover;
    object-position: center;

    z-index: 1;
}

.contenedorIframe::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 600px;
    height: 340px;

    background: url(../../../../../../imgs/Home/Servants/FrameBorde.png) no-repeat center;
    background-size: cover;

    z-index: 2;
    pointer-events: none;
}

/* Modal para video expandido */
.modalVideo {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 99999;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contenedorVideoExpandido {
    position: relative;

    width: 80vw;

    aspect-ratio: 16/9;

    max-height: 90vh;

    animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.contenedorVideoExpandido iframe {
    width: 100%;
    height: 100%;

    z-index: 100000;

    border: 1px solid rgb(0, 0, 0);
}

.thumbnailNP {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.botonPlayPersonalizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90px;
    height: 90px;

    background: url(../../../../../../../../imgs/Home/Servants/BotonBorde.png) no-repeat center;
    background-size: contain;

    z-index: 5;
    pointer-events: none;
}

.imagenInfoServant {
    position: absolute;
    left: 20vw;
    top: -15vh;

    z-index: 1;
}

.imagenInfoServant img {
    max-width: 55vw;
    max-height: 100%;
}

@media (orientation: portrait) {
    .carruselInfoServant {
        width: 100vw;
        flex-direction: column-reverse;
        align-items: center;

        padding-top: calc(22.5vw);
        margin-bottom: 0;
    }

    .espaciadorInfoServant {
        display: none;
    }

    .imagenInfoServant {
        width: 100%;
        height: 80vh;

        position: relative;

        display: flex;
        align-items: end;
        justify-content: center;

        left: 0;
        top: 0;

        overflow-x: hidden;

        transform: translateY(0);
        z-index: 1;
    }

    .imagenInfoServant img {
        position: relative;

        left: -2.5vh;
        bottom: 0px;

        width: auto;
        height: 85vh;

        max-width: 1000%;
        max-height: 1000%;
    }

    .textoInfoServant {
        width: 90%;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;

        padding: 0 5%;
    }

    .textoInfoServant h1 {
        width: 100%;

        font-size: 4vh;

        margin: 0 0 2vh;
    }

    .textoInfoServant h2 {
        width: 100%;

        font-size: 2vh;

        margin: 0.5vh 0;
    }

    .textoInfoServant h3 {
        width: 100%;

        font-size: 1.75vh;
        line-height: 1.5;

        margin: 0.5vh 0;
    }

    .contenedorIframe {
        width: 300px;

        height: auto;

        margin-top: 2vh;
        margin-bottom: 3vh;
    }

    .contenedorIframe iframe {
        position: absolute;
    }

    .contenedorIframe::after {
        content: '';

        position: absolute;
        inset: 0;

        width: 300px;
        height: 170px;
        
        background: url(../../../../../../imgs/Home/Servants/FrameBorde.png) no-repeat center;
        background-size: cover;
        pointer-events: none;
    }

    .botonPlayPersonalizado {
        width: 7.5vh;
        height: 7.5vh;
    }
}