/* TRAILER */

.trailer {
    width: 100%;
    height: auto;

    padding: 5vh 0;
}

.trailerTitulo {
    width: 100%;
    height: auto;

    display: flex;
    align-items: end;
    justify-content: center;
}

.trailerTitulo h1 {
    font-family: "Quintessential", serif;
    
    font-size: 4.25vh;
    text-align: center;

    margin-bottom: 2vh;
}

.trailerVideo {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botonPlay {
    width: 64vw;
    height: 36vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../../imgs/Home/Trailer/FondoTrailer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    border: 1px solid black;
}

.trailerTexto {
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    justify-content: center;
}

.trailerTexto h2 {
    font-family: "Quintessential", serif;

    font-size: 3vh;
    text-align: center;

    padding: 0 2.5vh;

    margin-top: 2vh;
}

@media (orientation: portrait) {
    .trailer {
        width: 100%;
        height: auto;

        padding: 2.5vh 0;
    }

    .trailerTitulo {
        width: 100%;
        min-height: 20vh;
        height: auto;
    }

    .trailerVideo {
        height: auto;
        width: 100%;
    }

    .trailerVideo .botonPlay{
        height: 56.25vw;
        width: 100vw;
    }

    .trailerTexto {
        width: 100%;
        min-height: 20vh;
        height: auto;
    }
}