/* TRAILER */

.trailer {
    width: 100%;
    height: auto;
}

.trailerTitulo {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: end;
    justify-content: center;
}

.trailerTitulo h1 {
    font-family: "Quintessential", serif;
    
    font-size: 2.5em;
    text-align: center;

    margin-bottom: 2vh;
}

.trailerVideo {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botonPlay {
    width: 64vw;
    height: 36vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../../../imgs/Home/Trailer/FondoTrailer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    border: 1px solid black;
}

.trailerTexto {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: start;
    justify-content: center;
}

.trailerTexto h2 {
    font-family: "Quintessential", serif;

    font-size: 1.5em;
    text-align: center;

    margin-top: 2vh;
}