/* TARJETA SERVANT */

.tarjetaServant {
    user-select: none;

    position: relative;
    box-sizing: border-box;

    width: 25vh;
    aspect-ratio: 1 / 1;

    flex: 0 0 25vh;

    margin: 0 2.5vh;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 2.5vh;
    transition: transform 0.3s ease;
}

.tarjetaServant:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.claseServant {
    position: absolute;

    top: 1vh;
    left: 1vh;

    width: 6.5vh;
    height: 6.5vh;

    z-index: 2;

    object-fit: contain;
    display: block;

    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
}

.imagenServant {
    position: absolute;

    inset: 0;                /* top:0; right:0; bottom:0; left:0 */

    width: 100%;
    height: 100%;

    object-fit: cover;       /* IMPORTANT: cubre y recorta */
    object-position: center; /* centra la parte visible */

    display: block;          /* quita gaps debajo de img inline */
    
    z-index: 1;
}