@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Viaoda+Libre&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    user-select: none;

    width: 100%;
    height: 7.5vh;

    background-color: rgba(255, 255, 255, 0);
    background-image: url(../../../imgs/Header/Fondo.png);
    background-position: bottom;
    background-size: cover;

    background-blend-mode: multiply; /* o overlay, soft-light, etc. */

    z-index: 999;

    position: fixed;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.contenedorHeaderDesktop {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    margin-bottom: 5px;
}

.links a {
    margin: 0 1.25vh;

    color: rgb(226, 218, 173);

    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25vh;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318));

    transition: 0.15s;
}

.links a:hover {
    cursor: pointer;
    color: rgb(208, 199, 152);
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 3px rgba(255, 226, 84, 0.447));
}

.logo img {
    width: auto;
    height: 5vh;

    margin: 0 5vh;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318));
}

/* ESPACIADOR */

.espaciadorHeader {
    width: 100%;
    height: 7.5vh;
}

.contenedorHeaderMobile {
    display: none;
}

.menuDesplegable {
    display: none;
}

@media (orientation: portrait) {
    .contenedorHeaderDesktop {
        display: none;
    }

    header {
        width: 100vw;
    }
    
    .contenedorHeaderMobile {
        height: 7.5vh;
        width: 100vw;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoJuegoMobile {
        user-select: none;

        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logoJuegoMobile img {
        height: 5vh;
        margin-bottom: 0.5vh;
        margin-left: 3.5vw;

        filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 1vh rgba(0, 0, 0, 0.25));
    }
    
    .menuHamburguesa {
        height: 3.5vh;
        width: 3.5vh;
        margin-bottom: 0.5vh;
        margin-right: 3.5vw;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        cursor: pointer;
        transition: transform 0.3s ease;

        filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 1vh rgba(0, 0, 0, 0.25));
    }

    .menuHamburguesa:active {
        transform: scale(0.9);
    }

    .borgir {
        background-image: url(../../../imgs/Header/Mobile/Hambuerger.png);
    }

    .equis {
        background-image: url(../../../imgs/Header/Mobile/Equis.png);
    }

    /* MENÚ DESPLEGABLE */
    .menuDesplegable {
        position: fixed;
        top: 7.5vh;
        left: 0;
        width: 150vw;
        height: calc(100vh - 7.5vh);
        
        background-color: rgba(0, 0, 0, 0.25);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%);
        backdrop-filter: blur(10px);
        
        transform: translateX(150vw);
        transition: transform 0.5s ease-in-out;

        display: flex;
        justify-content: right;
        
        z-index: 999;
        overflow-y: auto;
    }

    .menuDesplegable.abierto {
        transform: translateX(-50vw);
    }

    .linksMobile {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: right;

        gap: 3vh;
        padding: 3vh 0;
        height: auto;
        width: 100vw;

        overflow: hidden;
    }

    .linksMobile a {
        user-select: none;

        width: 100%;
        height: 7.5vh;

        display: flex;
        align-items: center;
        justify-content: right;

        transition: all 0.3s ease;
        text-align: right;
        width: 80vw;

        background-image: url(../../../imgs/Header/Mobile/FondoA.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;

        padding-right: 5vh;

        color: rgb(226, 218, 173);

        text-decoration: none;
        font-family: "Crimson Text", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3vh;

        filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 1vh rgba(0, 0, 0, 0.5));
        text-shadow: 
            0px 2px 0px rgba(0, 0, 0, 0.318),
            0px 0px 1vh rgba(0, 0, 0, 0.75);

        /* Estado inicial: invisible y desplazado */
        opacity: 0;
        transform: translateX(15vw);
    }

    /* Animación cuando el menú está abierto */
    .linksMobile a.aparecer {
        animation: deslizarEntrada 0.5s ease-out forwards;
    }

    @keyframes deslizarEntrada {
        from {
            opacity: 0;
            transform: translateX(15vw);
        }
        to {
            opacity: 1;
            transform: translateX(5vw);
        }
    }

    .linksMobile a:hover,
    .linksMobile a:active {
        transform: translateX(0);
    }
}