@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Viaoda+Libre&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    user-select: none;

    width: 100%;
    height: 7.5vh;

    background-color: rgba(255, 255, 255, 0);
    background-image: url(../../../imgs/Header/Fondo.png);
    background-position: bottom;
    background-size: cover;

    background-blend-mode: multiply; /* o overlay, soft-light, etc. */

    z-index: 999;

    position: fixed;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.contenedorHeader {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 1.25vh;

    color: rgb(226, 218, 173);

    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318));

    transition: 0.15s;
}

.links a:hover {
    cursor: pointer;
    color: rgb(208, 199, 152);
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.318)) drop-shadow(0px 0px 3px rgba(255, 226, 84, 0.447));
}

.logo img {
    width: auto;
    height: 5vh;

    margin: 0 5vh;
}

/* ESPACIADOR */

.espaciadorHeader {
    width: 100%;
    height: 7.5vh;
}