* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 7.5vh;

    border-bottom: 1px solid black;

    background-color: white;

    z-index: 999;

    position: fixed;
}

.contenedorHeader {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 1.25vh;

    color: black;

    text-decoration: none;

    transition: 0.15s;
}

.links a:hover {
    color: lightgray;
}

.logo img {
    width: auto;
    height: 5vh;

    margin: 0 5vh;
}

/* ESPACIADOR */

.espaciadorHeader {
    width: 100%;
    height: 7.5vh;
}